In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from matplotlib.legend import Legend

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

In [2]:
city_data.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
city_data.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [4]:
ride_data.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [5]:
ride_data.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [6]:
city_data.count()

city            120
driver_count    120
type            120
dtype: int64

In [7]:
ride_data.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [8]:
# Combine the data into a single dataset
merged_data = pd.merge( ride_data,city_data,on = "city", how = "left")

# Display the data table for preview
merged_data.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [9]:
# check if data number is correct (should be 2375)

merged_data.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64

In [10]:
merged_data.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

# Bubble Plot of Ride Sharing Data

In [31]:
merged_data

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban
5,South Latoya,2018-03-11 12:26:48,9.52,1994999424437,10,Urban
6,New Paulville,2018-02-27 11:17:56,43.25,793208410091,44,Urban
7,Simpsonburgh,2018-04-26 00:43:24,35.98,111953927754,21,Urban
8,South Karenland,2018-01-08 03:28:48,35.09,7995623208694,4,Urban
9,North Jasmine,2018-03-09 06:26:29,42.81,5327642267789,33,Urban
10,New Kimberlyborough,2018-02-07 01:10:11,9.34,7992781920789,33,Urban
11,West Angela,2018-01-12 01:45:27,26.86,4820052223501,48,Urban
12,Rodneyfort,2018-03-02 18:03:20,44.26,2494064867705,34,Urban
13,West Angela,2018-01-10 12:17:31,12.74,2108723916092,48,Urban
14,Roberthaven,2018-05-04 14:48:56,25.66,1026197778354,47,Urban
15,North Jason,2018-03-28 22:28:44,9.19,7007022521141,6,Urban
16,Williamsview,2018-01-03 16:19:25,18.93,1979492913169,46,Urban
17,Leahton,2018-02-26 18:42:15,8.85,6966668662612,17,Urban
18,West Anthony,2018-03-06 02:27:01,10.02,9396763280782,70,Urban
19,New Kimberlyborough,2018-04-25 22:58:38,29.67,4823568522144,33,Urban
20,Roberthaven,2018-02-24 10:26:34,7.80,2180566685151,47,Urban
21,New Paulton,2018-05-01 03:12:49,8.28,8527101897862,44,Urban
22,West Patrickchester,2018-03-19 05:46:20,40.86,898889456779,25,Urban
23,Deanville,2018-04-25 03:29:09,41.52,6055928921559,49,Urban
24,West Josephberg,2018-02-19 16:22:09,36.39,3322126516683,45,Urban
25,West Samuelburgh,2018-05-03 14:33:41,41.12,7330842806458,73,Urban
26,West Heidi,2018-03-14 23:46:50,24.40,4908573010166,28,Urban
27,Loganberg,2018-04-01 01:06:03,8.23,678728883160,23,Urban
28,Huntermouth,2018-02-10 23:32:13,25.79,1880379662035,37,Urban
29,South Latoya,2018-01-11 18:44:14,27.41,8662301917375,10,Urban
...,...,...,...,...,...,...
2345,West Heather,2018-02-04 16:29:23,13.97,7118893881453,4,Rural
2346,West Heather,2018-04-18 19:33:12,46.60,3671003215967,4,Rural
2347,West Heather,2018-03-02 21:04:10,20.99,5766454453070,4,Rural
2348,South Saramouth,2018-01-28 15:55:33,31.25,7118046558393,7,Rural
2349,West Heather,2018-03-06 20:06:51,48.11,2570548892682,4,Rural
2350,Garzaport,2018-05-06 16:57:16,18.90,8826696981094,7,Rural
2351,South Saramouth,2018-03-27 21:07:16,11.87,170351888128,7,Rural
2352,Randallchester,2018-04-07 23:42:07,10.79,1615474447641,9,Rural
2353,Harringtonfort,2018-01-09 15:30:35,31.84,3730685356921,4,Rural
2354,South Saramouth,2018-04-12 18:11:50,57.23,5081198789583,7,Rural
2355,North Holly,2018-01-03 19:51:01,19.90,5559509612597,8,Rural
2356,New Ryantown,2018-05-05 19:29:38,26.53,2302209966018,2,Rural
2357,West Heather,2018-02-02 06:28:04,53.07,2462950442268,4,Rural
2358,Lake Latoyabury,2018-02-25 04:10:19,16.18,8492924830016,2,Rural
2359,South Marychester,2018-01-19 11:40:46,49.44,90058815985,1,Rural
2360,Jessicaport,2018-01-31 17:57:25,58.29,623154556195,1,Rural
2361,Michaelberg,2018-03-22 22:20:54,38.30,8032727406577,6,Rural
2362,North Holly,2018-04-18 19:26:25,30.94,3441061016826,8,Rural
2363,Michaelberg,2018-03-13 14:40:18,37.72,8842606115175,6,Rural
2364,Lake Jamie,2018-02-25 23:46:02,28.65,5815763839331,4,Rural
2365,Lake Jamie,2018-04-19 04:32:47,16.29,3518682119233,4,Rural
2366,North Holly,2018-03-18 10:38:05,40.34,3787775176860,8,Rural
2367,Michaelberg,2018-01-27 18:43:05,38.42,862622008020,6,Rural
2368,Lake Jamie,2018-04-29 01:58:44,54.22,2489264790267,4,Rural
2369,Bradshawfurt,2018-01-30 10:55:23,51.39,1328274868072,7,Rural
2370,Michaelberg,2018-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2018-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2018-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2018-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2018-04-25 10:20:13,55.84,9990581345298,1,Rural

In [30]:
# group by city
groupby_type_city = merged_data.groupby(["type","city"]).agg({"fare":['sum','mean'],"ride_id":['count']})
#groupby_type_city = groupby_type_city()
groupby_type_city.head()
groupby_type_city

                                  fare            ride_id
                                   sum       mean   count
type     city
Rural    Bradshawfurt           400.64  40.064000      10
         Garzaport               72.37  24.123333       3
         Harringtonfort         200.82  33.470000       6
         Jessicaport            216.08  36.013333       6
         Lake Jamie             206.15  34.358333       6
         Lake Latoyabury        286.68  26.061818      11
         Michaelberg            419.97  34.997500      12
         New Ryantown           259.67  43.278333       6
         Newtonview             146.98  36.745000       4
         North Holly            262.17  29.130000       9
         North Jaime            246.42  30.802500       8
         Penaborough            176.23  35.246000       5
         Randallchester         148.71  29.742000       5
         South Jennifer         246.85  35.264286       7
         South Marychester      334.96  41.870000       8
         South Saramouth        144.64  36.160000       4
         Taylorhaven            253.58  42.263333       6
         West Heather           305.01  33.890000       9
Suburban Barronchester          582.76  36.422500      16
         Bethanyland            593.21  32.956111      18
         Brandonfort            673.31  35.437368      19
         Colemanland            679.68  30.894545      22
         Davidfurt              543.93  31.995882      17
         East Aaronbury         230.95  25.661111       9
         East Danielview        536.53  31.560588      17
         East Kentstad          387.70  29.823077      13
         East Marymouth         832.55  30.835185      27
         Grayville              416.45  27.763333      15
         Josephside             887.17  32.858148      27
         Lake Ann               370.68  30.890000      12
...                                ...        ...     ...
Urban    Port Johnbury          506.14  23.006364      22
         Port Samanthamouth     641.07  25.642800      25
         Raymondhaven           537.01  21.480400      25
         Reynoldsfurt           416.47  21.919474      19
         Richardfort            626.45  22.373214      28
         Roberthaven            569.50  23.729167      24
         Robertport             461.21  23.060500      20
         Rodneyfort             658.19  28.616957      23
         Rogerston              486.15  22.097727      22
         Royland                617.12  20.570667      30
         Simpsonburgh           560.54  23.355833      24
         South Evanton          828.51  26.726129      31
         South Jack             436.34  22.965263      19
         South Karenland       1008.35  26.535526      38
         South Latoya           381.77  20.093158      19
         South Michelleport     758.00  24.451613      31
         South Phillip          885.71  28.571290      31
         Valentineton           542.00  24.636364      22
         West Angela           1013.61  25.990000      39
         West Anthony           742.10  24.736667      30
         West Christopherberg   634.95  24.421154      26
         West Ericstad          402.25  22.347222      18
         West Gabriel           467.96  20.346087      23
         West Heidi             647.75  23.133929      28
         West Josephberg        564.73  21.720385      26
         West Patrickchester    451.73  28.233125      16
         West Robert            778.84  25.123871      31
         West Samuelburgh       544.19  21.767600      25
         Williamsstad           560.33  24.362174      23
         Williamsview           531.98  26.599000      20

[120 rows x 3 columns]

In [22]:
 # calculate average fare per city
groupby_type_city["average_fare_per_city"] = merged_data.groupby(["type","city"])["fare"].mean()
groupby_type_city.head()

                        fare            ride_id driver_count      \
                         sum       mean   count        count sum
type  city
Rural Bradshawfurt    400.64  40.064000      10           10  70
      Garzaport        72.37  24.123333       3            3  21
      Harringtonfort  200.82  33.470000       6            6  24
      Jessicaport     216.08  36.013333       6            6   6
      Lake Jamie      206.15  34.358333       6            6  24

                     average_fare_per_city

type  city
Rural Bradshawfurt               40.064000
      Garzaport                  24.123333
      Harringtonfort             33.470000
      Jessicaport                36.013333
      Lake Jamie                 34.358333

In [23]:
# Calculate Total number of ride per city
groupby_type_city["ride_count_per_city"] = merged_data.groupby(["type","city"])["ride_id"].count()
groupby_type_city.head()

                        fare            ride_id driver_count      \
                         sum       mean   count        count sum
type  city
Rural Bradshawfurt    400.64  40.064000      10           10  70
      Garzaport        72.37  24.123333       3            3  21
      Harringtonfort  200.82  33.470000       6            6  24
      Jessicaport     216.08  36.013333       6            6   6
      Lake Jamie      206.15  34.358333       6            6  24

                     average_fare_per_city ride_count_per_city

type  city
Rural Bradshawfurt               40.064000                  10
      Garzaport                  24.123333                   3
      Harringtonfort             33.470000                   6
      Jessicaport                36.013333                   6
      Lake Jamie                 34.358333                   6

In [ ]:
# Calculate Total number of ride per city
groupby_type_city["driver_count_per_city"] = merged_data.groupby(["type","city"])["ride_id"].count()
groupby_type_city.head()

In [18]:
groupby_type_city.reset_index()
groupby_type_city.head()

                        fare            ride_id average_fare_per_city
                         sum       mean   count
type  city
Rural Bradshawfurt    400.64  40.064000      10             40.064000
      Garzaport        72.37  24.123333       3             24.123333
      Harringtonfort  200.82  33.470000       6             33.470000
      Jessicaport     216.08  36.013333       6             36.013333
      Lake Jamie      206.15  34.358333       6             34.358333

In [34]:
final_data = pd.merge(groupby_type_city,city_data, on ='city',how='left' )
final_data.head()

,city,"(fare, sum)","(fare, mean)","(ride_id, count)",driver_count,type
0,Bradshawfurt,400.64,40.064000,10,7,Rural
1,Garzaport,72.37,24.123333,3,7,Rural
2,Harringtonfort,200.82,33.470000,6,4,Rural
3,Jessicaport,216.08,36.013333,6,1,Rural
4,Lake Jamie,206.15,34.358333,6,4,Rural

In [19]:
# reset index to be able to access 'type'
#groupby_type_city = groupby_type_city.reset_index()

In [ ]:
# extract urban data
urban = groupby_type_city.loc[groupby_type_city['type']=='Urban',['driver_count','average_fare_per_city','ride_count_per_city']]
urban.head()

In [ ]:
# extract suburban data
suburban = groupby_type_city.loc[groupby_type_city['type']=='Suburban',['driver_count','average_fare_per_city','ride_count_per_city']]
suburban.head()

In [ ]:
# extract rural data
rural = groupby_type_city.loc[groupby_type_city['type']=='Rural',['driver_count','average_fare_per_city','ride_count_per_city']]
rural

In [ ]:
# Build the scatter plots for each city types
plt.grid()


plt.scatter(urban["ride_count_per_city"], urban["average_fare_per_city"],  \
            marker="o", facecolors="salmon", edgecolors="black", s=urban["driver_count"], alpha=0.5, label=None)

plt.scatter(suburban["ride_count_per_city"], suburban["average_fare_per_city"], \
            marker="o", facecolors="skyblue", edgecolors="black", s=suburban["driver_count"], alpha=0.5 , label=None
          )

plt.scatter(rural["ride_count_per_city"], rural["average_fare_per_city"], \
            marker="o",facecolors="orange", edgecolors="black",s=rural["driver_count"], alpha=0.5 , label=None)

# create fake data for the legend
plt.scatter(0, 0,  \
            marker="o", facecolors="salmon", edgecolors="black", s=30, alpha=0.5, label = "Urban") 

plt.scatter(0, 0,  \
            marker="o", facecolors="skyblue", edgecolors="black", s=30, alpha=0.5, label = "Suburban") 

plt.scatter(0, 0, marker="o", facecolors="orange", edgecolors="black", s=30, alpha=0.5, label = "Rural") 

# add legend
plt.legend(numpoints=1, loc=1, borderpad=1, \
            frameon=True, framealpha=0.9, title="City type",scatterpoints = 1)

# set xlim and ylim
plt.ylim(19, 45)
plt.xlim(0, 41)

# add text outside the graph
# Incorporate a text label regarding circle size
plt.text(42,35,"test", fontsize=12)

# Incorporate the other graph properties
plt.title("Pyber ride Sharing Data (2016)")
plt.xlabel("Total number of rides (per city)")
plt.ylabel("Average fare ($)")
plt.tight_layout()
plt.show()

In [ ]:
# Save Figure

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()